*{
	padding: 0;
	margin: 0;
	font-family: Georgia;
}

body, html{
	width: 100%;
	height: 100%;
	min-height: 100%;
}

body{
	padding: 20px;
	box-sizing: border-box;
}

body *{
	box-sizing: content-box;
}

li{
	margin-left: 20px;
}

form{
	margin: 0px auto;
	width: 500px;
}

#submit{
	float: right;
	margin-right: 0px;
}
	
pre{
	white-space: pre-wrap;      
	white-space: -moz-pre-wrap;  
	white-space: -pre-wrap;     
	white-space: -o-pre-wrap;    
	word-wrap: break-word;  
	margin-top: 20px;
}

input, textarea, button{
	width: 100%;
	box-sizing: border-box;
	background: #ffffff; 
	color: #000000; 
	font-size: 16px; 
	padding: 10px; 
	border: 1px solid #c3c3c3;
	border-radius: 0px; 
	margin-right: 10px; 
	margin-bottom: 10px; 
	resize: none;
} 

input:hover, textarea:hover, button:hover{
	background: #fcfcfc; 
	color: #000000; 
	font-size: 16px; 
	padding: 10px; 
	border: 1px solid #c3c3c3;
	border-radius: 0px;
	margin-right: 10px; 
	margin-bottom: 10px;
} 

input:active, textarea:active, button:active{ 
	background: #f8f8f8; 
	color: #000000; 
	font-size: 16px; 
	padding: 10px; 
	border: 1px solid #c3c3c3; 
	border-radius: 0px; 
	margin-right: 10px; 
	margin-bottom: 10px;
}

textarea{
	width: 100%;
}

*:focus{ 
	outline: 0;
	-webkit-box-shadow: none;
	 box-shadow: none;
} 

::-webkit-input-placeholder{
	color: #000000;
}

::-moz-placeholder{ 
	color: #000000;
}

:-ms-input-placeholder{ 
	color: #000000;
} 

input:-moz-placeholder{
	color: #000000;
}

#nav{
	margin-bottom: 20px;
}

#nava{
	text-decoration: none;
	color: gray;
	font-weight: bold;
	margin-right: 20px;
}

#nava:hover{
	border-bottom: dotted 1px gray;
}

#error{
	color: crimson;
	margin: 0 auto;
	width: 500px;
}

#post{
	padding: 20px;
	background: #f8f8f8;
	margin-bottom: 20px;
	max-width: 600px;
}

#date{
	font-size: 14px;
	color: gray;
}

#edit{
	float: right;
	width: 20px;
	height: 20px;
	background-image: url("images/assets/icons/edit.png");
	background-size: 16px 16px; 
	background-repeat: no-repeat;
    background-position: center; 
}

#delete{
	float: right;
	width: 20px;
	height: 20px;
	background-image: url("images/assets/icons/delete.png");
	background-size: 16px 16px; 
	background-repeat: no-repeat;
    background-position: center; 
}

#emoji{
	width: 20px;
	height: 20px;
}
